.container {
  display: flex;
  height: 80%;
  padding: 5px;
  margin-top: 5%; /* Adjust the margin as per your header's height */
  padding: 10px;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.left-half {
  display: inline-block;
  align-items: center;
  width: 100%;
  /*margin-bottom: 5%;*/
}

.right-half {
  display: inline-block;
  align-items: center;
  width: 100%;
}
.content {
  display: flex;
  align-items: center;
  margin: 10px;
  margin-right: 5%;
  padding: 5px;
  font-size: 1.2em;
  line-height: 1.6;
}
.right-half .content img {
  float: right;
  width: 30%;
  height: 20%;
  margin-left: 10%;
}
.left-half .content img{
  width: 15%;
  height: 20%;
  margin-right: 10%;
}
